@media(min-width:1500px) {
    .container {
        width: 1470px !important; 
    }
}

@media(min-width:1300px) and (max-width:1499px) {
    .container {
        width: 1300px !important;
    }
}


@media(min-width:1200px) and (max-width:1299px) {
    .container {
        width: 1200px;
    }

    .carousel {
        margin-top: 167px;
        margin-bottom: 465px;
    }

    .lista-not {
        margin-bottom: 299px;
    }

    #menu_principal {
        position: absolute;
        right: 185px;
        text-transform: uppercase;
        top: 6em;
        cursor: pointer;
    }

    #logo {
        padding: 0px;
    }

    #logoRed {
        padding: 0px;
    }

    a#logo {
        position: relative;
        left: 145px;
    }

    a#logoRed {
        position: relative;
        left: 250px;
    }

    #social-header {
        padding-top: 2.5em;
        position: absolute;
        right: 200px;
        top: 0;
    }

    #subMenu {
        right: 15px;
    }

    .logo-min-img {
        width: 80px;
    }
}

@media(min-width: 1024px) and (max-width: 1199px) {
    #menu_principal {
        right: 45px;
    }

    #subMenu {
        top: 15px;
    }

    .carousel .item {
        height: 355px;
    }

    .lista-not {
        margin-bottom: 299px !important;
    }

    .carousel {
        margin-top: 167px;
        margin-bottom: 468px;
    }

    .content-ofr-aliado {
        width: 50%;
    }

    .list-aliados {
        width: 50%;
    }

    .em-icon {
        left: 5px !important;
    }

    .ca-menu {
        margin: 2px 5px !important;
    }

    .blog-vida-seguros {
        margin-bottom: 10px;
    }

    .call-to-action-asesor2 {
        margin-bottom: 15%;
        height: 17em;
    }

    aside.call-to-action-asesor2 img {
        left: 7px;
        position: relative;
    }

    .bg-02 {
        text-align: center;
        height: 1.4em;
        z-index: 999;
        width: 100%;
    }

        .bg-02 h1 {
            margin-top: 0;
        }

    .preview-post p {
        padding: 1em 2em;
    }

    .descargar-app {
        width: 100%;
        background-size: contain;
    }
}

@media(min-width: 768px) and (max-width: 1023px) {
    div.item img {
        margin-top: 0;
    }

    #subMenu {
        top: 85px;
        right: 15px;
    }

    .carousel .item {
        height: 340px;
    }

    .carousel img {
        position: absolute;
        top: 70px;
        left: 0;
        min-width: 100%;
        height: auto;
    }

    a#logo {
        padding: 15px 0;
    }

    a#logoRed {
        padding: 15px 0;
    }

    #menu a {
        font-size: 12px;
    }

    #menu_principal {
        position: absolute;
        right: 1px;
        text-transform: uppercase;
        top: 8em;
    }

    .navbar-nav > li > a {
        padding: 5px;
    }

    div#articulo-tema img {
        top: 35%;
        position: absolute;
    }

    #opcion2 > p {
        margin-left: 0 !important;
    }

    #opcion3 > p {
        margin-left: 0 !important;
    }

    #map-canvas {
        height: 400px !important;
        width: 400px !important;
    }

    #call-home-cabina {
        width: 100%;
    }

    .menu-seguros-destacados nav ul {
        left: 390px;
    }

    .blog-vida-seguros p {
        width: 100%;
    }

    .blog-vida-seguros {
        width: 100%;
        margin-bottom: 10px;
    }

        .blog-vida-seguros h2 {
            text-align: center;
        }

    .call-to-action-guia-siniestros {
        padding: 0 10px;
    }


    .call-to-action-asesor2 {
        width: 100%;
    }

        .call-to-action-asesor2 a {
            right: 10%;
        }

    #forma-pago {
        margin-left: 0px;
    }

    .others-pagos {
        padding-left: 0;
    }

    .formas-pa li {
        margin-left: 15px;
    }

    .others-pagos li {
        margin-left: 0px;
    }

    .descargar-app {
        height: 271px;
        width: 100%;
        background-size: contain;
    }

        .descargar-app img {
            margin-left: 1.5em;
            margin-top: 8em;
        }

    a.video {
        margin: 0 auto;
    }

    img.image-as1 {
        width: 100%;
    }

    li.listado-siniestros a {
        padding-left: 0px;
        display: block;
        padding-right: 30px;
    }

    .ca-menu {
        width: 47% !important;
    }

    #beneficios-seguros li {
        width: 90%;
    }

        #beneficios-seguros li p {
            width: 90%;
        }

    .lista-not {
        margin-bottom: 299px !important;
    }

    .logo-min-img {
        width: 79px;
    }

    #content {
        margin: 0 100px auto;
        text-align: center !important;
    }

    #junta img {
        height: 222px;
        margin: 0 40px auto;
    }

    .ca-menu {
        padding: 0 !important;
        margin: 2px 0 !important;
        width: 100% !important;
    }

    .em-content {
        left: 30%;
        height: 27px;
        top: 5px;
    }

    .ca-icon, .em-icon {
        bottom: -20px;
    }

    .ca-menu li {
        height: 60px !important;
    }

    .ca-content {
        left: 30% !important;
    }

    .bg-02 {
        text-align: center;
        height: 1.4em;
        z-index: 999;
        width: 100%
    }

        .bg-02 h1 {
            margin-top: 0;
        }

    span.st_email_hcount {
        display: none;
    }

    .call-to-action-asesor2 {
        margin-bottom: 15%;
        height: 17em;
    }
}

@media(max-width:767px) {
    .descargar-app {
        display: none;
    }

    #call-home-cabina {
        width: 100%;
    }

    #footer #footer-social span.flaticon-facebook1 {
        margin-left: 0;
    }


    .nav-pills > li a {
        font-size: 9px;
    }

    .change-padding-15 {
        padding: 0;
    }

    #temas-interes article p {
        width: 100%;
    }

    .change-padding-5 {
        padding: none;
    }

    #footer ul li {
        text-align: left;
    }

    .firts-menuf {
        padding-left: 25px !important;
    }

    .carousel .item {
        height: 122px;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: auto;
        line-height: 1;
    }

    #subMenu {
        right: 5px;
        top: 7px;
        padding-left: 0;
    }

        #subMenu li a {
            padding: 5px 22px;
        }

    .linea-contenido {
        width: 340px;
    }

    #social-header {
        padding-top: 0;
        position: absolute;
        right: 60px;
        top: 40px;
    }

    .navbar-brand {
        float: left;
        padding: 15px 5px;
        line-height: 20px;
    }

    #menu_principal {
        position: initial;
    }

    #menu a {
        text-align: center;
    }

    .navbar-nav {
        margin: -4.5px 25px;
    }

    .extra-carousel {
        margin-top: 0;
    }

    .carousel {
        margin-top: 165px;
    }

    div.navbar-collapse.in {
        background: #FFF;
    }

    .carousel-caption a {
        display: none;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-inner {
        top: 30px;
        margin-bottom: 30px;
    }

    section#temas-blog {
        display: none;
    }

    #footer > .container div:nth-child(1) {
        display: none;
    }

    #footer > .container div:nth-child(2) {
        text-align: center;
    }

    #footer #footer-social {
        padding-left: 0;
        text-align: center;
    }

    .contenido-temas {
        padding-left: 4px;
    }

    #asesores {
        padding-left: 0;
    }

    #articulo-tema {
        margin-bottom: 0;
    }


    /*estilos paginas Internas*/

    .carousel img {
        position: absolute;
        top: 35px;
        left: 0;
        min-width: 100%;
        height: auto;
    }

    .carousel {
        margin-bottom: 295px;
    }

    div#contenido-all p {
        padding: 0 25px;
        text-align: justify;
    }

    #contenido-all > ul {
        padding: 0 25px;
    }

    #contenido-all h1, h2 {
        text-align: center;
    }

    #contenido-all > ul li {
        padding-bottom: 13px;
    }

    #content, #junta {
        display: block !important;
        text-align: center !important;
    }

    #map-canvas {
        height: 500px !important;
        width: 340px !important;
    }

    .ca-menu {
        width: 85% !important;
    }

    .blog-vida-seguros {
        width: auto;
    }

    .menu-seguros-destacados nav ul {
        left: -25px;
    }

    .call-to-action-asesor2 p {
        width: 343px;
    }

    li#beneficios-hogar {
        margin-top: 15%;
    }

    ul#forma-pago li {
        padding-right: 35px;
    }

    li#agricola-4 {
        width: 300px !important;
    }
}

@media(min-width: 478px) and (max-width: 766px) {
    .carousel .item {
        height: 198px;
    }

    .carousel-inner {
        top: 0;
        margin-bottom: 0;
    }

    #subMenu li a {
        padding: 5px 35px;
    }

    #subMenu {
        top: 7px;
    }

    #logo-red-medica {
        display: none;
    }

    #call-home-alidados {
        display: none;
    }

    .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
        width: 100%;
    }

    #call-home-cabina {
        margin-top: 21.6em;
    }

    .call-to-action-asesor2 {
        width: 100%;
    }

        .call-to-action-asesor2 a {
            right: 15%;
        }
}

@media(min-width:360px) and (max-width: 479px) {
    #subMenu li a {
        padding: 5px 24px;
        width: 23%;
    }

    .carousel .item {
        height: 103px;
    }

    .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
        width: 100%;
    }

    .carousel img {
        top: 33px;
    }

    div.item img {
        top: 0;
    }

    /*.ca-menu {
		width: 85% !important;
	}*/

    .carousel .item {
        height: 122px;
        background-color: #BBB;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: auto;
        line-height: 1;
    }

    #subMenu {
        right: 1px;
        top: 7px;
        padding-left: 0;
    }


    .carousel-inner {
        top: 30px;
        margin-bottom: 30px;
    }

    .call-to-action-asesor2 p {
        width: 100%;
    }

    li#beneficios-hogar {
        margin-top: 15%;
    }

    .call-to-action-asesor2 a {
        right: 9%;
    }

    ul#forma-pago li {
        padding-right: 35px;
    }

    li#agricola-4 {
        width: 300px !important;
    }

    #intro-aliado p {
        width: 310px !important;
    }

    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
        margin: 0;
    }

    .lista-not {
        margin-bottom: 130px;
    }

    div.img-preview img {
        margin: 0 18%;
    }

    #forma-pago li, #bloque-pr01 li, #bloque-pr02 li, #bloque-pr03 li {
        margin-left: 0;
    }

    #regreso-noti {
        right: 10px;
        top: 10px;
        z-index: 999;
    }


    .bg-02 {
        text-align: center;
        height: 1.4em;
        z-index: 999;
    }

        .bg-02 h1 {
            margin-top: 0;
        }

    .introduccion-blog {
        margin-left: 0;
    }

    .preview-post p {
        padding: 1em 0em !important;
    }

    .complete-post p {
        padding: 10px 0 !important;
    }

    #opcion2 > p {
        margin-left: 0 !important;
        text-align: left;
    }

    #opcion3 > p {
        margin-left: 0 !important;
        text-align: left;
    }

    .call-to-action-guia-siniestros {
        padding: 0 10px;
    }

    .btn-guia {
        right: 11.3em;
    }

    .menu-seguros-destacados nav ul {
        left: 15px;
    }

    .menu-seguros-destacados a {
        padding: 10px 5px;
    }

    .call-to-action-asesor2 {
        width: 100%;
    }

        .call-to-action-asesor2 a {
            right: 15%;
        }

    li.listado-siniestros a {
        padding-left: 0px;
        display: block;
        padding-right: 30px;
    }

    ul.ca-menu {
        width: 100% !important;
        padding: 0 !important;
        margin: 0;
    }

    .blog-vida-seguros p {
        line-height: 30px;
        width: 100%;
    }

    .main-content div ul, ol {
        padding: 0 7% 0 15%;
        text-align: left;
    }

    .main-content strong {
        margin: 0 4%;
        text-align: left;
    }

    .social-plugins {
        height: 2em;
        margin: 0 6% !important;
    }

    span.st_email_hcount, .st_googleplus_hcount {
        display: none;
    }

    .content-noticias {
        padding: 0 9% 0 0;
    }

    .junta div p {
        text-align: center !important;
    }

    #map-canvas {
        margin: 0 2.5% !important;
    }

    div#social-header {
        display: none;
    }

    .col-md-4 p {
        text-align: center !important;
    }

    .menu_simple ul li a {
        text-align: center;
    }

    .ca-content {
        left: 30% !important;
        top: 17px !important;
    }

    .direccione-contact {
        display: inline-block;
        margin-right: 0 !important;
        width: 46%;
        vertical-align: top;
        text-align: left;
        margin-left: 3%;
    }

    div.direccione-contact p {
        text-align: left !important;
        padding: 0 0 0 15px !important;
        font-size: 13px;
    }

    .textos-siniestros p, li {
        font-size: 11px;
    }
}

@media(min-width: 320px) and (max-width:359px) {
    #subMenu li {
        display: inline-block;
        width: 21%;
        margin-left: -5px;
    }

    .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
        width: 100%;
    }

    div.item img {
        top: 0;
    }

    .tab-content > .tab-pane p {
        text-align: left;
        padding-left: 5px;
    }

    #opcion2 > p {
        margin-left: 0 !important;
    }

    #opcion3 > p {
        margin-left: 0 !important;
    }

    .thumbnail {
        margin-right: 10px;
    }

    #subMenu li a {
        padding: 5px 31px;
        font-size: 14px;
    }

    #map-canvas {
        height: 500px !important;
        width: 300px !important;
        left: 3%;
    }

    .formas-pa li {
        width: 0px !important;
    }

    #forma-pago li, #bloque-pr01 li, #bloque-pr02 li, #bloque-pr03 li {
        margin-left: 0;
    }

    .carousel .item {
        height: 103px;
        background-color: #BBB;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: auto;
        line-height: 1;
    }

    #subMenu {
        right: 0;
        top: 6px;
        padding-left: 0;
        /*width: 100%;*/
    }


    .carousel-inner {
        top: 30px;
        margin-bottom: 30px;
    }

    .carousel img {
        top: 34px;
    }

    .call-to-action-asesor2 p {
        width: 100%;
    }

    .call-to-action-asesor2 a {
        right: 9%;
    }

    li#beneficios-hogar {
        margin-top: 15%;
    }

    ul#forma-pago li {
        padding-right: 35px;
    }

    li#agricola-4 {
        width: 300px !important;
    }

    #intro-aliado p {
        width: 270px !important;
    }

    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
        margin: 0;
    }

    .menu-seguros-destacados nav ul {
        left: -47px;
        padding-left: 40px !important;
    }

    .lista-not {
        margin-bottom: 120px;
    }

    div.img-preview img {
        margin: 0 15%;
    }

    #regreso-noti {
        right: 10px;
        top: 10px;
        z-index: 999;
    }

    .bg-02 {
        text-align: center;
        height: 1.4em;
        z-index: 999;
    }

        .bg-02 h1 {
            margin-top: 0;
        }

    .introduccion-blog {
        margin-left: 0;
    }

    .preview-post p {
        padding: 1em 0em !important;
    }

    .complete-post p {
        padding: 10px 0 !important;
    }

    .call-to-action-guia-siniestros {
        padding: 0 10px;
    }

    .btn-guia {
        right: 11.3em;
    }

    .call-to-action-asesor2 {
        width: 100%;
    }

        .call-to-action-asesor2 a {
            right: 15%;
        }

    li.listado-siniestros a {
        padding-left: 0px;
        display: block;
        padding-right: 30px;
    }

    div#social-header {
        display: none;
    }

    ul.ca-menu {
        padding: 0 !important;
        width: 100% !important;
        margin: 0;
    }

    .ca-main {
        font-size: 20px !important;
        margin-top: 30px;
    }

    .blog-vida-seguros p {
        line-height: 30px;
        width: 100%;
    }

    .main-content div ul, ol {
        padding: 0 7% 0 15%;
        text-align: left;
    }

    .main-content strong {
        margin: 0 4%;
        text-align: left;
    }

    .social-plugins {
        height: 2em;
        margin: 0 6% !important;
    }

    span.st_email_hcount, .st_googleplus_hcount {
        display: none;
    }

    .content-noticias {
        padding: 0 9% 0 0;
    }

    .menu_simple ul li a {
        text-align: center;
    }

    .direccione-contact {
        display: inline-block;
        margin-right: 0 !important;
        width: 46%;
        vertical-align: top;
        text-align: left;
        margin-left: 3%;
    }

    div.direccione-contact p {
        text-align: left !important;
        padding: 0 0 0 15px !important;
        font-size: 13px;
    }

    .textos-siniestros p, li {
        font-size: 11px;
    }
}
