﻿<div class="container" style="">
    <div id="loginbox2" style="margin-top:-5px;" class="mainbox col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-2 ">
        <div class="panel panel-info" style="align-content:center">
            <img src="~/Images/false.png" alt="Lights" style="width:100%">
            <div style="text-align: center">
                <h1>@ViewBag.TituloError</h1>
                <p>@ViewBag.Description</p>
            </div>
        </div>
    </div>
</div>
