﻿<!DOCTYPE html>

<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title  - Asesuisa, una empresa Sura</title>

    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />    

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/datatablecss")
    @Styles.Render("~/Content/sweetalertcss")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/sweetalert")

    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="~/Scripts/utilidades.js"></script>
</head>

<body>
    <div id="Body">
        @RenderBody()
    </div>

</body>
</html>

